#player_map ã€Œ
	left: 900px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}
#player_bubble {
	left: 900px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}
